NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
NEXT_PUBLIC_BASE_URL=http://localhost:3002
NEXT_PUBLIC_INFRA_ENV=local
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
SENTRY_AUTH_TOKEN=
